<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Airplane</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addAirplane.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" type="image/png">
</head>

<body>

<div class="app-panel">

    <header class="app-header">
        <div class="header-welcome">
            <h1>Welcome {{username}}.</h1>
            <p class="sub-heading">Add a new airplane to the system.</p>
        </div>
        <div class="header-links">
            <a href="/staffLogout" class="logout-link">Logout</a>
            <a href="/staffHome" class="home-link">Return to Home</a>
        </div>
    </header>

    <main class="app-content">

        <form action="/createAirplane" method="POST">
            <h2>Add an Airplane</h2>

            <label>Airplane ID:</label>
            <input type="number" name="ID" required>

            <label>Airline Name:</label>
            <input type="text" name="name" required>

            <label>Number of Seats:</label>
            <input type="number" name="seats" required>

            <input type="submit" value="Add Airplane">
            {% if error %}
               <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>

    </main> </div> </body>
</html>