<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffHome.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" type="image/png">
</head>

<body>

{% if message %}
<p class="message"><strong></strong> {{message}}</p>
{% endif %}

<header class="page-header">
    <div class="header-welcome">
        <h1>Welcome {{username}}.</h1>
        <p class="sub-heading">How would you like to proceed?</p>
    </div>

    <div class="header-logout">
        <a href="/staffLogout" class="logout-link">Logout</a>
    </div>
</header>

<main class="page-main">

    <nav class="menu-grid">
        <a href="/viewFlights">View Flights</a>
        <a href="/createFlight">Create New Flight</a>
        <a href="/changeStatus">Change Flight Status</a>
        <a href="/addAirplane">Add Airplane</a>
        <a href="/addAirport">Add Airport</a>

        </nav>

    {% if error %}
       <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

</main>

</body>
</html>